{% extends 'template.html' %}

{% block title %}<title>The Pet SPA | Registro de Servicios</title>{% endblock %}

{% block content %}

<div class="probootstrap-page-wrapper">
  <!-- Fixed navbar -->

  <section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left section-heading probootstrap-animate">
          <h1>Servicios</h1>
        </div>
      </div>
    </div>
  </section>

        
    {% block SERVICE_RE%}
    <section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Agregue nuevos servicios para aplicar a las mascotas</h2>
            <section id="inspet" class = "">
              <form method="post" action="{% url 'servicios-register' %}" id="rgservice">
                {{form_to_Service}}
                <p></p>
                <input type="submit" class="enviar" />
              </form>
            </section>
            
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
  <section class="probootstrap-section">
    <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
      <p >
        <a href="{% url 'petservices' %}" class="btn btn-primary ">Solicítar servicio</a> 
      </p>
    </div>
  </section>
  
  <section class="probootstrap-section">
    <div class="container">




      <div class="row">

        {% if service_list %}

        {% for service in service_list %}

        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
          <a href="{% url 'detail-service' service.id %}" class="probootstrap-featured-news-box">
            <div class="probootstrap-text">
              <h3>{{ service.name }}</h3>
              <span class="probootstrap-date"><i class="icon-file"></i>descripcion: {{ service.description }} </span>
            </div>

          </a>

        </div>
        <!-- <a href="{% url 'delete-service' service.id %}" class="btn btn-danger">Eliminarlo</a> <span class="enrolled-count"> -->

        <div class="clearfix visible-sm-block visible-xs-block"></div>

        {% endfor %}

        {% else %}

        <p>No hay Servicios registradas.</p>

        {% endif %} 

      </div>

    </div>
  </section>

  {% endblock %}